version: '3.8'
services:
  postgres:
    image:
      "postgres"
    env_file:
    - ./env/postgres.env
    ports:
      - "5432:5432"
    container_name: postgres
  backend:
    build: ./backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app
      - /app/env
    env_file:
      - ./env/backend.env
      - ./env/postgres.env
    depends_on:
      - postgres
    container_name: backend
  frontend:
    build: ./frontend
    ports:
      - "5173:5173"
    volumes:
      - /app/node_modules
      - ./frontend/src:/app/src
    depends_on:
      - backend
    container_name: frontend
